.PieDePagina {
    width: 100%;
    background-color: lightseagreen;
    opacity: 0.8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.GradienteHorizontal {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, black, whitesmoke, black);
}

.PieDePaginaTabla {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    table-layout: fixed;
    width: 60%;
    border-collapse: collapse;
}

.PieDePaginaTabla td {
    width: calc(100%/5);
    font-size: .875em;
    text-align: center;
    vertical-align: text-top;
    color: black;
}

.circle-icon{
    width: 60px;
    height: 60px;
    border: solid black;
    border-radius: 50%;
    background-color: lightseagreen;
    padding-top: 12px;
}

.Author {
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: small;
    text-align: right;
    color: whitesmoke;
}
