.GridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto; /* Fila para el encabezado, contenido principal y pie de página */
    height: 100vh;
}

.Header {
    grid-row: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

.Main {
    grid-row: 2;
    overflow: auto; /* Permite el desplazamiento si el contenido es demasiado grande */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

.Footer {
    grid-row: 3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}