.GradienteHorizontal {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, black, whitesmoke, black);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    background-color: lightseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    color: black;
    vertical-align: bottom;   
}

.OpcionActiva {
    color: white;
    vertical-align: bottom;
}
